.graphContainer {
  height: 500px;
  border: 1px solid #f1eaea;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 3px #888989;
  padding: 2px;

	#cy {
		height: 500px;
		width: 100%;
	}
	.fittingOptions {
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: flex;
    cursor: pointer;
  }

  .fittingOptions > div:nth-child(2) {
    border: 1px solid black;
    padding: 3px;
    background-color: lightgrey;
  }

  .fittingOptions > div:nth-child(1) {
    border: 1px solid black;
    padding: 3px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: lightgrey;
  }

  .fittingOptions > div:nth-child(3) {
    border: 1px solid black;
    padding: 3px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgrey;
  }
  .fa-minus, .fa-plus, .fa-expand {
    content: '+';
  }
}