.queryComponent {
  margin: 0 100px;
  min-height: 50px;
  border: 1px solid #f1eaea;
  margin-top: 25px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #888989;
  position: relative;

  .run {
      position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #cccccc;
    border-radius: 5px;
    font-size: 12px;
    width: 80px;
    outline: none;
  }
}